
:root {
  --ff-heading: 'Heebo', sans-serif;
  --ff-content: 'Tajawal', sans-serif;
  --ff-icons: 'Material Icons', sans-serif; 

  --fw-bold: 700;
  --fw-normal: 400;
  --fw-light: 300;

  --fs-title-1: 68px;
  --fs-title-2: 42px;
  --fs-title-3: 26px;
  --fs-subtitle: 26px;
  --fs-base: 16px;
  --fs-small: 14px;
  --fs-button: 14px;
  
  --space-100: 4px;
  --space-200: 8px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 24px;
  --space-600: 32px;
  --space-700: 48px;
  --space-800: 64px;
  --space-900: 96px;
}

// @media (min-width: 600px) {

//   :root {
//   }
  
// }