
/* ----- Base styles ----- */

.button {
  display: block;
  
  font-size: var(--text-100);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: .1em;
  text-decoration: none;
  text-align: center;
  
  padding: var(--space-200) var(--space-500);
  
  border: none;
  
  background-color: var(--clr-grey-200);
  color: var(--clr-grey-800);
  
  box-shadow: var(--shadow-100);
  border-radius: 25px;

  transition: 
    box-shadow 250ms ease,
    color 205ms ease;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: var(--shadow-200);
}

.button:focus {
  outline: 3px solid var(--clr-grey-500);
}

/* ----- States ----- */

.button[disabled] {
  cursor: default;
  color: var(--clr-grey-500);
}

.button[disabled]:focus,
.button[disabled]:hover {
  outline: none;
  box-shadow: var(--shadow-100);
}

.button[disabled]:focus {
  cursor: unset;
}

/* ----- Variants ----- */

.button[small] {
  text-transform: none;
  padding: var(--space-100) var(--space-300);
}

.button[small]:focus {
  text-transform: none;
  outline-width: 1px;
  padding: var(--space-100) var(--space-300);
}

.button[dark] {
  background-color: var(--clr-grey-800);
  color: var(--clr-grey-200);
}

.button[dark]:hover,
.button[dark]:focus {
  background-color: var(--clr-grey-700);
}

/* ----- Colors ----- */

/* --- Main --- */

.button[main] {
  background-color: var(--clr-main-200);
  color: var(--clr-main-800);
}

.button[main]:focus {
  outline-color: var(--clr-main-500);
}

/* --- Success --- */

.button[success] {
  background-color: var(--clr-success-100);
  color: var(--clr-success-900);
}

.button[success]:focus {
  outline-color: var(--clr-success-500);
}

/* --- Error --- */

.button[error] {
  background-color: var(--clr-error-100);
  color: var(--clr-error-800);
}

.button[error]:focus {
  outline-color: var(--clr-error-300);
}
