
.card {
  background-color: var(--clr-grey-100);
  box-shadow: var(--shadow-400);
  padding: var(--space-600);
  border-radius: 25px;

  > * + * {
    margin-top: var(--space-600);
  }
}

.card.padding-000 {
  padding: 0;
}

.card-narrow {
  max-width: 50ch;
}