
.form {
  > * + * {
    margin-top: var(--space-400);
  }

  input, textarea, select {
    margin-top: var(--space-200);
    padding: var(--space-100) var(--space-300);
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow-inner-100);
  }

  textarea {
    resize: vertical;
  }

  input:focus {
    // outline: 2px solid var(--clr-gray-500);
  }
}