
  /* ----- flex ----- */

  .flex {
    --flex-gap: var(--space-300);

    display: flex;
    align-items: center;
    gap: var(--flex-gap);
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-center {
    align-items: center;
    justify-content: center;
  }

  .flex-column {
    flex-direction: column;
  }

  /* ----- justify ----- */

  .justify-end {
    justify-content: end;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-space-around {
    justify-content: space-around;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  /* ----- align ----- */

  .align-center {
    align-items: center;
  }

  /* ----- justify-self ----- */

  .justify-self-start {
    justify-self: start;
  }