/* ----- Background colors ----- */

/* --- Image --- */

.bg-image {
  background-image: url('/construccion-fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.bg-pattern {
  background-color: var(--clr-grey-300);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* -- Main -- */

.bg-main-900 {
  background-color: var(--clr-main-900);
}
.bg-main-800 {
  background-color: var(--clr-main-800);
}
.bg-main-700 {
  background-color: var(--clr-main-700);
}
.bg-main-600 {
  background-color: var(--clr-main-600);
}
.bg-main-500 {
  background-color: var(--clr-main-500);
}
.bg-main-400 {
  background-color: var(--clr-main-400);
}
.bg-main-300 {
  background-color: var(--clr-main-300);
}
.bg-main-200 {
  background-color: var(--clr-main-200);
}
.bg-main-100 {
  background-color: var(--clr-main-100);
}
  
/* -- Secondary -- */

.bg-secondary-900 {
  background-color: var(--clr-secondary-900);
}
.bg-secondary-800 {
  background-color: var(--clr-secondary-800);
}
.bg-secondary-700 {
  background-color: var(--clr-secondary-700);
}
.bg-secondary-600 {
  background-color: var(--clr-secondary-600);
}
.bg-secondary-500 {
  background-color: var(--clr-secondary-500);
}
.bg-secondary-400 {
  background-color: var(--clr-secondary-400);
}
.bg-secondary-300 {
  background-color: var(--clr-secondary-300);
}
.bg-secondary-200 {
  background-color: var(--clr-secondary-200);
}
.bg-secondary-100 {
  background-color: var(--clr-secondary-100);
}

/* -- Grey -- */
  
.bg-grey-900 {
  background-color: var(--clr-grey-900);
}
.bg-grey-800 {
  background-color: var(--clr-grey-800);
}
.bg-grey-700 {
  background-color: var(--clr-grey-700);
}
.bg-grey-600 {
  background-color: var(--clr-grey-600);
}
.bg-grey-500 {
  background-color: var(--clr-grey-500);
}
.bg-grey-400 {
  background-color: var(--clr-grey-400);
}
.bg-grey-300 {
  background-color: var(--clr-grey-300);
}
.bg-grey-200 {
  background-color: var(--clr-grey-200);
}
.bg-grey-100 {
  background-color: var(--clr-grey-100);
}

/* -- Success -- */

.bg-success-900 {
  background-color: var(--clr-success-900);
}
.bg-success-800 {
  background-color: var(--clr-success-800);
}
  
.bg-success-700 {
  background-color: var(--clr-success-700);
}
.bg-success-600 {
  background-color: var(--clr-success-600);
}
.bg-success-500 {
  background-color: var(--clr-success-500);
}
.bg-success-400 {
  background-color: var(--clr-success-400);
}
.bg-success-300 {
  background-color: var(--clr-success-300);
}
.bg-success-200 {
  background-color: var(--clr-success-200);
}
.bg-success-100 {
  background-color: var(--clr-success-100);
}

/* -- Error -- */
  
.bg-error-900 {
  background-color: var(--clr-error-900);
}
.bg-error-800 {
  background-color: var(--clr-error-800);
}
.bg-error-700 {
  background-color: var(--clr-error-700);
} 
.bg-error-600 {
  background-color: var(--clr-error-600);
}
.bg-error-500 {
  background-color: var(--clr-error-500);
}
.bg-error-400 {
  background-color: var(--clr-error-400);
}
.bg-error-300 {
  background-color: var(--clr-error-300);
}
.bg-error-200 {
  background-color: var(--clr-error-200);
}
.bg-error-100 {
  background-color: var(--clr-error-100);
}
  