/* ----- Text Colors ----- */

/* -- Main -- */

.clr-main-900 {
  color: var(--clr-main-900);
}
.clr-main-800 {
  color: var(--clr-main-800);
}
.clr-main-700 {
  color: var(--clr-main-700);
}
.clr-main-600 {
  color: var(--clr-main-600);
}
.clr-main-500 {
  color: var(--clr-main-500);
}
.clr-main-400 {
  color: var(--clr-main-400);
}
.clr-main-300 {
  color: var(--clr-main-300);
}
.clr-main-200 {
  color: var(--clr-main-200);
}
.clr-main-100 {
  color: var(--clr-main-100);
}

/* -- Secondary -- */

.clr-secondary-900 {
  color: var(--clr-secondary-900);
}
.clr-secondary-800 {
  color: var(--clr-secondary-800);
}
.clr-secondary-700 {
  color: var(--clr-secondary-700);
}
.clr-secondary-600 {
  color: var(--clr-secondary-600);
}
.clr-secondary-500 {
  color: var(--clr-secondary-500);
}
.clr-secondary-400 {
  color: var(--clr-secondary-400);
}
.clr-secondary-300 {
  color: var(--clr-secondary-300);
}
.clr-secondary-200 {
  color: var(--clr-secondary-200);
}
.clr-secondary-100 {
  color: var(--clr-secondary-100);
}
  
/* -- Grey -- */

.clr-grey-900 {
  color: var(--clr-grey-900);
}
.clr-grey-800 {
  color: var(--clr-grey-800);
}
.clr-grey-700 {
  color: var(--clr-grey-700);
}
.clr-grey-600 {
  color: var(--clr-grey-600);
}
.clr-grey-500 {
  color: var(--clr-grey-500);
}
.clr-grey-400 {
  color: var(--clr-grey-400);
}
.clr-grey-300 {
  color: var(--clr-grey-300);
}
.clr-grey-200 {
  color: var(--clr-grey-200);
}
.clr-grey-100 {
  color: var(--clr-grey-100);
}

/* -- Success -- */
  
.clr-success-900 {
  color: var(--clr-success-900);
}
.clr-success-800 {
  color: var(--clr-success-800);
}
.clr-success-700 {
  color: var(--clr-success-700);
}
.clr-success-600 {
  color: var(--clr-success-600);
}
.clr-success-500 {
  color: var(--clr-success-500);
}
.clr-success-400 {
  color: var(--clr-success-400);
}
.clr-success-300 {
  color: var(--clr-success-300);
}
.clr-success-200 {
  color: var(--clr-success-200);
}
.clr-success-100 {
  color: var(--clr-success-100);
}
  
/* -- Error -- */

.clr-error-900 {
  color: var(--clr-error-900);
}
.clr-error-800 {
  color: var(--clr-error-800);
}
.clr-error-700 {
  color: var(--clr-error-700);
}
.clr-error-600 {
  color: var(--clr-error-600);
}
.clr-error-500 {
  color: var(--clr-error-500);
}
.clr-error-400 {
  color: var(--clr-error-400);
}
.clr-error-300 {
  color: var(--clr-error-300);
}
.clr-error-200 {
  color: var(--clr-error-200);
}
.clr-error-100 {
  color: var(--clr-error-100);
}
