
.shadow-500 {
  box-shadow: var(--shadow-500);
}

.shadow-400 {
  box-shadow: var(--shadow-400);
}

.shadow-300 {
  box-shadow: var(--shadow-300);
}

.shadow-200 {
  box-shadow: var(--shadow-200);
}

.shadow-100 {
  box-shadow: var(--shadow-100);
}
