
/* ----- Padding ----- */

.padding-900 {
  padding: var(--space-900);
}
.padding-800 {
  padding: var(  --space-800);
}
.padding-700 {
  padding: var(  --space-700);
}
.padding-600 {
  padding: var(  --space-600);
}
.padding-500 {
  padding: var(  --space-500);
}
.padding-400 {
  padding: var(  --space-400);
}
.padding-300 {
  padding: var(  --space-300);
}
.padding-200 {
  padding: var(  --space-200);
}
.padding-100 {
  padding: var(  --space-100);
}
.padding-000 {
  padding: 0;
}

/* ----- Margin ----- */

.margin-900 {
  margin: var(--space-900);
}
.margin-800 {
  margin: var(  --space-800);
}
.margin-700 {
  margin: var(  --space-700);
}
.margin-600 {
  margin: var(  --space-600);
}
.margin-500 {
  margin: var(  --space-500);
}
.margin-400 {
  margin: var(  --space-400);
}
.margin-300 {
  margin: var(  --space-300);
}
.margin-200 {
  margin: var(  --space-200);
}
.margin-100 {
  margin: var(  --space-100);
}