/* ----- text types ----- */

.title {
  font-family: var(--font-heading);
  font-size: var(--text-300);
  font-weight: bold;
  line-height: 1rem;
  letter-spacing: 1px;
}

.subtitle {
  font-family: var(--font-heading);
  font-size: 20px;
  line-height: 1rem;
  letter-spacing: 1px;
}



.title-2 {
  font-family: var(--font-heading);
  font-size: var(--text-300);
}

/* ----- font-family ----- */

.font-heading {
  font-family: var(--font-heading);
  line-height: 1em;
}

.font-content {
  font-family: var(--font-content);
}

/* ----- font-size ----- */

.text-500 {
  font-size: var(--text-500);
}

.text-400 {
  font-size: var(--text-400);
}

.text-300 {
  font-size: var(--text-300);
}

.text-200 {
  font-size: var(--text-200);
}

.text-100 {
  font-size: var(--text-100);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: var(--weight-bold);
}

.light {
  font-weight: var(--weight-light);
}