/* Text styles */

.text-500 {
  font-size: var(--text-500);
}

.text-400 {
  font-size: var(--text-400);
}

.text-300 {
  font-size: var(--text-300);
}

.text-200 {
  font-size: var(--text-200);
}

.text-100 {
  font-size: var(--text-100);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: var(--weight-bold);
}