// Base configuration. Vars and stuff...
@import './config';

// Reset default styles
@import './reset';

// Base styles

#app {
  min-height: 100%;
}

body {
  font-family: var(--font-content);
  font-size: var(--text-200);
  color: var(--clr-grey-900);
  letter-spacing: .1rem;
}

label, input, textarea, select {
  display: block;
  width: 100%;
}

input, textarea, select {
  padding-left: var(--space-100);
}

textarea {
  scrollbar-width: thin;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  max-width: 60ch;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  cursor: pointer;
}

// Design tokens
@import './design/background.scss';
@import './design/color.scss';
@import './design/shadow.scss';
@import './design/shape.scss';
@import './design/spacing.scss';
@import './design/text.scss';
@import './design/transitions.scss';

// Utilities
@import './utilities/center.scss';
@import './utilities/flex.scss';
@import './utilities/full-width.scss';
@import './utilities/hide.scss';
@import './utilities/scroll.scss';
@import './utilities/stack.scss';

.relative {
  position: relative;
}

// Blocks
@import './blocks/button.scss';
@import './blocks/card.scss';
@import './blocks/form.scss';
@import './blocks/icon.scss';
@import './blocks/link.scss';
@import './blocks/table.scss';