// Base configuration. Vars and stuff...
@import './config';

// Reset default styles
@import './reset';

// Base styles

body {
  font-family: var(--ff-content);
  font-size: var(--text-100);
  letter-spacing: .1em;
}

label, input, textarea, select {
  display: block;
  width: 100%;
  margin-bottom: var(--space-100);
}

input, textarea, select {
  padding: var(--space-100);
}

form > * + label {
  margin-top: var(--space-400)
}

// Design tokens
@import './design/text.scss';
@import './design/color.scss';

// Utilities
@import './utilities/center.scss';
@import './utilities/cluster.scss';
@import './utilities/hidden.scss';
@import './utilities/icon.scss';
@import './utilities/reel.scss';
@import './utilities/stack.scss';
@import './utilities/text-center.scss';

// Blocks
@import './blocks/table.scss';
@import './blocks/button.scss';
@import './blocks/link.scss';
@import './blocks/card.scss';